POSTGRES_DB=tmos
POSTGRES_USER=tmos
POSTGRES_PASSWORD=change_me_in_production

REDIS_PASSWORD=change_me_in_production

JWT_SECRET=change_me_in_production

API_PORT=8081
MCP_PORT=8080
WORKER_PORT=8082

BROWSER_ENGINE=self-built
BROWSER_BINARY=/app/selfbuilt
